<form method="get">
  <div class="form-group">
    <label for="book_title">Search query:</label>
    <input type="text" class="form-control" id="book_title" name="book_title" required>
  </div>
  <button type="submit" class="btn btn-default" name="submit">Search on Google Books</button>
</form>
{{#if result}}
<div>
    <div>Result:</div>
    <div><pre>{{result}}</pre></div>
</div>
{{/if}}
